---
interface Props {
  url: string;
  title: string;
}

const { url, title } = Astro.props;
---

<div class="relative w-full aspect-video">
  <iframe
    src={url}
    title={title}
    class="absolute inset-0 w-full h-full"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
